/* 메인 */
#main {
  background: url(../img/1.jpg) 100% center;
  background-repeat: no-repeat;
  background-size: auto;
  margin: auto;
  margin-top: 25px;
  border-radius: 20px;
  background-color: lightblue;
  text-align: center;
  width: 500px;
  height: 800px;
}

/* 채팅 영역 */
#chat {
  height: 90%;
  width: 100%;
  overflow-y: auto;
}

#subj {
  text-align: center;
}

/* 접속 알림 */
.connect {
  position: relative;
  width: auto;
  margin: auto;
  padding: auto;
  background-color: aquamarine;
  text-align: center;
  margin-top: 10px;
  border-radius: 4px;
  clear: both;
}

/* 접속 종료 알림 */
.disconnect {
  position: relative;
  width: auto;
  margin: auto;
  padding: auto;
  background-color: indianred;
  text-align: center;
  margin-top: 10px;
  border-radius: 4px;
  clear: both;
}
/* 내가 보낸 메시지 */
.me {
	position: relative;
	width: auto;
	min-width: 100px;
	max-width: 45%;
	height: auto;
	padding: 15px;
	padding-bottom: 15px;
	margin: 20px 15px;
	margin-bottom: 0px;
	background: #effdde;
	border-radius: 7px;
	clear: both;
	float: right;
}

/* 상대방이 보낸 메시지 */
.other {
	position: relative;
	width: auto;
	min-width: 100px;
	max-width: 45%;
	height: auto;
	padding: 15px;
	padding-bottom: 15px;
  margin: 20px 15px;
  margin-top: 10px;
	margin-bottom: 10px;
	background: #FFF;
	border-radius: 7px;
	clear: both;
	float: left;
}

.msg {
	position: relative;
	width: auto;
	min-width: 100px;
	max-width: 45%;
	height: auto;
	padding: 25px;
	padding-bottom: 25px;
	margin: 20px 15px;
	margin-bottom: 0px;
	background: #FFF;
	border-radius: 7px;
	clear: both;
}

#send_btn {
	border: 1px solid #4A8AF4;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
	background: #4A8AF4;
	color: white;
	padding: 10px;
}

#back_btn {
	border: 1px solid #4A8AF4;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
	background: #4A8AF4;
	color: white;
	padding: 10px;
}

#send_btn:hover {
	background: #7DABF4;
	border-color: #7DABF4;
	color: white;
}

input[type="text"] {
	border: 1px solid grey;
	border-radius: 5px;
	padding-left: 4px;
	outline: none;
	padding: 10px;
}