input[type=text], input[type=Password]{
    width: 50%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
     border-radius: 4px;
    box-sizing: border-box;

}
body,input[type = text],input[type = Password]{
    text-align: center
}
div{
    border-radius: 5px;
      background-color: #f2f2f2;
     padding: 20px;
}
input[type=submit]{
    display: inline-block;
      padding: 15px 25px;
      font-size: 24px;
     cursor: pointer;
      text-align: center;
     text-decoration: none;
    outline: none;
     color: #fff;
     background-color: #4CAF50;
     border: none;
     border-radius: 15px;
      box-shadow: 0 9px #999;
}
input[type=button]{
    display: inline-block;
      padding: 15px 25px;
      font-size: 24px;
     cursor: pointer;
      text-align: center;
     text-decoration: none;
    outline: none;
     color: #fff;
     background-color: #4CAF50;
     border: none;
     border-radius: 15px;
      box-shadow: 0 9px #999;
}
input[type=submit]:active{
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
 transform: translateY(4px);
}
input[type=button]:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
 transform: translateY(4px);
}