<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>채팅</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="../static/js/socket.js"></script>
  </head>
  <body>
  <div id="subject">
    <!-- 채팅방 제목 영역 -->
  </div>
    <div id="main">
      <div id="chat">
        <!-- 채팅 메시지 영역 -->
      </div>
      <div>
        <input type="text" id="test" placeholder="메시지를 입력해주세요..">
        <button id = "send_btn">전송</button>
      </div>
    </div>
  </body>
</html>
