<!DOCTYPE html>
<html>
    <head>
        <link href="../static/css/rooms.css" rel="stylesheet" type="text/css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script type="text/javascript" src="../static/js/room.js"></script>
    </head>
    <body>
        <h1>List of chat rooms</h1>
    <div id="fade" class="black_overlay"></div>
        <div class="room_container">
            <button class="btn_room" id="room1">R o o m 1</button>
            <button class="btn_room" id="room2">R o o m 2</button>
            <button class="btn_room" id="room3">R o o m 3</button>
        </div>
    </body>
</html>