<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8"/>
        <title>회원가입 페이지</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script type="text/javascript" src="../static/js/index.js"></script>
        <link href="../static/css/signup.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <h1 class="arial">" Sign up Page "</h1>
        <div class="ballon"></div>
        <img src="../static/img/bycycle.png" style="width: 260px">
        <form action="/account/create" method="post">
            <table style="padding-top: 25px; padding-right: 30px;padding-bottom: 25px;padding-left: 30px;">
                <tr>
                    <td>이름 : </td>
                    <td><input type="text" name="user_name" placeholder="이름을 입력하세요."></td><br><br>
                </tr>
                <tr>
                    <td>아이디 : </td>
                    <td><input type="text" name="user_id" placeholder="아이디를 입력하세요."></td>
                </tr>
                 <tr>
                    <td>비밀번호 : </td>
                     <td><input type="text" name="user_pw" placeholder="비밀번호를 입력하세요."></td>
                </tr>
                 <tr>
                    <td>이메일 : </td>
                    <td><input type="text" name="user_email" placeholder="이메일을 입력하세요."></td>
                    <td>
                        <select name="email_address">
                            <option value="gmail.com">@gmail.com</option>
                            <option value="name.com">@naver.com</option>
                            <option value="yahoo.como">@yahoo.com</option>
                            <option value="hanyang.ac.kr">@hanyang.ac.kr</option>
                            <option value="x">직접입력</option>
                        </select>
                    </td>
                </tr>
            </table>
            <input type="submit" id="create_acc" value="저장하기"></a>
        </form>
    </body>
</html>